.project__container {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  justify-content: center;
  /* overflow: scroll; */
  padding-bottom: 2rem;
}
.project__item {
  background: var(--color-primary-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  /* aspect-ratio: 1/0.5; */
}
.project__item:hover {
  border-color: var(--color-primary);
  background: var(--color-bg-variant);
}
.project__item-image {
  border: 1.5rem;
  overflow: hidden;
}
.project__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.scroll {
  font-size: 5rem;
}
/* ----------- Media Queries - Small Devices --------- */
