header {
  height: 70vh;
  padding-top: 7rem;
  text-decoration: none;
  list-style: none;
}
.header__container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-bottom: 2rem;
  margin-left: 8.5rem;
  position: relative;
}
.name-color {
  color: var(--color-light);
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
/* -----CTA --------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* -----Header Socials --------- */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  top: 4rem;
  font-size: 3rem;
}
.header__socials a {
  animation: loader 1.5s 1;
}
.header__socials::after {
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
  background: var(--color-primary-variant);
}

/* -----Profile Image --------- */

.me {
  background: linear-gradient(
    var(--color-primary),
    var(--color-primary-variant)
  );
  /* top: -10rem; */
  width: 30rem;
  height: 30rem;
  margin: 0;
  margin-left: 20px;
  /* position: absolute;
  left: calc(50% - 15rem); */
  /* margin-top: 4rem; */
  border-radius: 15rem 15rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* --------------Scroll Down ------------ */

/* ----------- Media Queries - Medium Devices --------- */

@media screen and (max-width: 1000px) {
  header {
    height: fit-content;

  }
  .header__container{
    margin-left: 5rem;
  }
  .me {
    
    width: 75%;
    padding: 0;
  }
  .ball-container {
    display: none;
  }
}

/* ----------- Media Queries - Small Devices --------- */

@media screen and (max-width: 768px) {
  #header {
    padding-bottom: 2vh;
    height: fit-content;
  }

  .header__container {
    width: 100%;
    margin-left: 0;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
  .ball-container {
    display: none;
  }
}
